{:deps
 {cheshire/cheshire {:mvn/version "5.10.0"}
  cli-matic/cli-matic {:mvn/version "0.4.3"}
  clj-http/clj-http {:mvn/version "3.12.3"}
  com.github.seancorfield/honeysql {:mvn/version "2.0.783"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.2.709"}
  org.mariadb.jdbc/mariadb-java-client {:mvn/version "2.7.4"}
  org.postgresql/postgresql {:mvn/version "42.2.23"}
  org.xerial/sqlite-jdbc {:mvn/version "3.36.0.3"}}}